<style type="text/css">

.constyle{
	padding: 7px; 
	border-radius: 5px; 
	background-color: #ffffff; 
	border: 1px solid #d9d9d9; 
	margin: 10px;
	
}

</style>

<body style="background-color: #e3e4e5; font-family: 'Poppins', sans-serif;">
<br>
<div class="container">
	<div class="row" style="margin-top: 100px; margin-bottom: 40px;">
		<div class="col-lg-12">
			<p style="text-align: center; font-weight: 300;">Hello Admin, you are welcome to your dashboard. Manage your Products, Customers, Categories and Buyer requests from here.</p>
			<p style="text-align: center;">
				<a href="/posters/new" class="btn btn-success">Create a new Product</a>
				<a href="/users" class="btn btn-success">Manage all users</a>
				<a href="/categories/new" class="btn btn-success">Create a product category</a>
				<a href="/requests" class="btn btn-success">Manage buyer requests</a>
			</p>
			<hr>
		</div>
	</div>
</div>

<section style="background-color: #ffffff; padding-top: 30px; padding-bottom: 30px;">
<div class="container">
	<div class="row">
		<div class="col-lg-4 col-md-12">
			<h5>Top Products</h5>
			<div class="row">
			<table class="table">
              <thead>
                <tr>
                  <th scope="col">Product Image</th>
                  <th scope="col">Product name</th>
                  <th scope="col">Product Price</th>
                  <th scope="col">Show</th>
                </tr>
              </thead>
              <tbody>
              	<% Poster.find_each do |poster| %>
                <tr>
                  <th scope="row"><img src="<%= poster.posterimage %>" style="width: 50px; height: 50px;"></th>
                  <td><%= poster.title %></td>
                  <td><%= poster.price %></td>
                  <td><%= link_to "show", poster %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
		</div>
		</div>
		<div class="col-lg-4 col-md-12">
			<h5>Top Customers</h5>
			
		</div>

		<div class="col-lg-4 col-md-12">
			<h5>Top Categories</h5>
			<div class="row">
			<table class="table">
              <thead>
                <tr>
                  <th scope="col">Category Icon</th>
                  <th scope="col">Category name</th>
                  <th scope="col">Show</th>
                </tr>
              </thead>
              <tbody>
              	<% Category.find_each do |category| %>
                <tr>
                  <th scope="row"><img src="<%= category.categoryicon %>" style="width: 50px; height: 50px;"></th>
                  <td><%= category.title %></td>
                  <td><%= link_to "show", category %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
		</div>
			
		</div>
	</div>
</div>
</section>


</body>